div.container{
	width:100%;
	display:block;
}

div.opening{
	width:100%;
	margin-bottom:20px;
	text-align:center;
}
div.opening-image{
	width:100%;
	max-width:600px;
	margin-bottom:60px;
	position: relative;
}
img.opening-bar{
	width:100%;
	max-width:600px;
	margin-top:-20px;
}

div.opening-label{
	max-width:600px;
    position: absolute;
	text-align:center;
	color: #FFF;
	top: 85%;
	font-size:1.5em;
	
}




div.five-pixel,
div.gospel-body{
	margin-left:5px;
	margin-right:5px;
}
div.description{
	padding-top: 20px;
	font-size:1.5em;
	line-height:1.5;
}
div.lesson_div{
	background-color:#de1e25;
	color:white;
	font-size:1.5em;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 25px;
}
div.share{
	text-align:right;
	padding-top: 20px;
	margin-right: 20px;
	text-decoration: underline;
}


div.question_forward{
	color:#000;
}
div.answer_forward{
	padding-top:15px;
	padding-bottom:15px;
	padding-left:30px;
	padding-right:30px;
}

div.note{
	margin-left: 25px;
	margin-right:10px;
	color:#de1e25;
}


img.opening-image{
	width:100%;
}
img.point{
	padding-right: 10px;
	height:15px;
}

h1.myfriends{
	color: #de1e25;
	padding-left: 25px;
	text-align:center;
	font-weight: bold; 
	display: inline;
}
	


body{
	font-family: "lexia", sans-serif;
	margin-left: 3px;
	margin-right: 3px;
}

td.gospel-box{
	border: #085276 solid 2px;
}
.gospel-prayer{
	font-style: italic; 
	font-weight: bold; 
	color: #085276; 
	background-image: url("../files/images/quote_open.gif"); 
	background-repeat: no-repeat; 
	background-position: 10px top;	
	padding-left: 35px;
}


img.study{
	height: 30px;
	margin-right: 20px;
	vertical-align:middle;
}
img.lesson-section{
	vertical-align:middle;
	
}
div.lesson-section{
	position:relative;
	margin-top:30px;
	margin-bottom:30px;
	
}
div.lesson-section-words{
	
	font-size :30px;
	line-height: 30px;
	margin-left:45px;
	position:absolute;
	bottom:0;
	
}
div.oneline{
	vertical-align:top;
	position:relative;
}
div.myfriends{
	font-size :20px;
	color:#de1e25;
	font-weight:bold;
	line-height: 30px;
	margin-left:55px;
	position:absolute;
	bottom:10px;
	
}
h2{
	line-height: 24px;
	font-size :24px;
	margin-left:15px;
	//color:#de1e25;
	color:black;
}

h3{
	font-size :20px;
	color:black;
	padding-left:10px;
	background-color:#efefef;
	
}
h3.gospel{
	padding-top:10px;
	padding-bottom:10px;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}
div#bible{
	background-color:#efefef;
	padding-top: 20px;
	padding-bottom:20px;
	
}

h3,
div.publisher,
div.bible{
	background-color:#efefef;
	
}
.bible{
	
	padding-left:10px;
	padding-right:10px;
	padding-top: 20px;
	padding-bottom:20px;
	
}
.bible_text{
	font-style:italic;
	font-weight:bold;
	padding-left:40px;
}
.gospel_text{
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left:40px;
}

a.readmore, a.bible_readmore  {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
	height: auto;
	border: 1;
	padding: 6px 10px;
	background-color: #de1e25;
	border-color: #de1e25;
	color: #fff;
}
a{
	color: #de1e25;
	
}
a.complete{
    
	color: black;
}
a.incomplete{
	color: black;
	font-weight: bold;
}
.conclusion,
.key,
.notes,
.pray,
.read,
.bold,
.statement
{
	font-weight: bold;
	padding-top:20px;
}
p.conclusion,
p.key,
p.notes,
p.prayer,
p.read,
p.statement
{
	padding-left:20px;
}
.border_red{
	border-color: black;
	
}

p{
	padding-left:5px;
	padding-right:5px;
}
p.gospel{
	padding-left:10px;
	padding-right:10px;
}
p.copyright{
	font-size:small;
}

p.copyright{
	padding-bottom: 60px;
}
p.lesson_end{
	padding-bottom: 260px;
	
}

.lesson_title{
	font-size :30px;
	color:white;
	padding-left:10px;
	padding-bottom: 30px;
	text-align:center;
	line-height:35px;
	
}

p.lesson_start{
	padding-top: 30px;
	
}
p.form_end{
	padding-bottom: 200px;
	
}
p.opening-label{
	color: #FFF;
	font-size:1em;
	margin-left:50%;
	margin-right:50%;
}
a.basics,
a.lessons{
	color:black;
}

li.basics,
li.lessons{
	padding-left:5px;
	padding-right:5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:#efefef;
	
	
}
ul.basics,
ul.lessons{
	-webkit-padding-start: 5px;
	list-style-type: none;
}

.border_#de1e25 {
	border: 2px solid #de1e25;
	
}
.contact_indent{
	padding-left:10px;
	border: 2px solid #efefef;
}
.contact_checkbox{
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.contact_text{
	margin-top: 10px;
	margin-bottom:10px;
}
.red{
	color:#de1e25;
}
.nocode_checkbox{
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 5px;
}

.menu-second{
	background-color:#eee;
}
.menu-second a:hover {background-color: #ddd}

.question_form{
	background-color: #ddd;
}