
<html>
  <div class="lesson">
    <img class="lesson-icon" src="/images/sharing-life.png" />
    <div class="lesson-subtitle">SHARE</div>
  </div>
  <div class="ol">
    <ol class="ltr">
      <li>How have you experienced God this week?</li>
      <li>What are you thankful for?</li>
      <li>What do you need God’s help for?</li>
      <li>How can we help you with your needs?</li>
      <li>Pray for each other</li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/review.png" />
    <div class="lesson-subtitle">REVIEW</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="6">
      <li>What have you put into practice since our last meeting?</li>
      <li>
        How are the people that you are caring for going? What would help them
        most?
      </li>
      <li>
        Were you able to share a God experience with anyone? Did you pray with
        them?
      </li>
      <li>Pray for these people</li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/bible-study.png" />
    <div class="lesson-subtitle">READ</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="10">
      <li>Read the passage aloud twice.</li>
      <li>
        Have one person retell the passage in their own words with the group’s
        help.
      </li>
      <li>Was there anything missed or added?</li>
    </ol>
  </div>
  <div id="bible">
    <div class="bible">
      <p class="myfriends-reference">Genesis 2:4-25</p>
      <p>
        <sup>4</sup>This is the account of the heavens and the
        earth when they were created, when the
        <span class="small-caps">Lord God</span>
        made the earth and the heavens.
      </p>
      <p>
        <sup >5</sup>Now no shrub had yet appeared on
        the earth and no plant had yet sprung up, for the
        <span class="small-caps">Lord God</span>
        had not sent rain on the earth and there was no one to work the ground,<sup >
          {' '}
          6&nbsp;{' '}
        </sup>but streams came up from the earth and watered the whole surface
        of the ground.<sup >7</sup>Then the
        <span class="small-caps">Lord God</span>
        formed a man from the dust of the ground and breathed into his nostrils
        the breath of life, and the man became a living being.
      </p>
      <p>
        <sup >8</sup>Now the
        <span class="small-caps">Lord God</span>
        had planted a garden in the east, in Eden; and there he put the man he
        had formed.<sup >9</sup>The
        <span class="small-caps">Lord God</span>
        made all kinds of trees grow out of the ground—trees that were pleasing
        to the eye and good for food. In the middle of the garden were the tree
        of life and the tree of the knowledge of good and evil.
      </p>
      <p>
        <sup >10</sup>A river watering the garden
        flowed from Eden; from there it was separated into four headwaters.<sup >
          11
        </sup>The name of the first is the Pishon; it winds through the entire
        land of Havilah, where there is gold.<sup >
          12
        </sup>(The gold of that land is good; aromatic resin and onyx are also
        there.)<sup > 13&nbsp; </sup>The name of the
        second river is the Gihon; it winds through the entire land of Cush.<sup >
          14
        </sup>The name of the third river is the Tigris; it runs along the east
        side of Ashur. And the fourth river is the Euphrates.
      </p>
      <p>
        <sup >15</sup>The
        <span class="small-caps">Lord God</span>
        took the man and put him in the Garden of Eden to work it and take care
        of it.<sup >16</sup>And the
        <span class="small-caps">Lord God</span>
        commanded the man, “You are free to eat from any tree in the garden;<sup >
          17&nbsp;{' '}
        </sup>but you must not eat from the tree of the knowledge of good and
        evil, for when you eat from it you will certainly die.”
      </p>
      <p>
        <sup >18</sup>The
        <span class="small-caps">Lord God</span>
        said, “It is not good for the man to be alone. I will make a helper
        suitable for him.”
      </p>
      <p>
        <sup >19</sup>Now the
        <span class="small-caps">Lord God</span>
        had formed out of the ground all the wild animals and all the birds in
        the sky. He brought them to the man to see what he would name them; and
        whatever the man called each living creature, that was its name.<sup >
          20&nbsp;{' '}
        </sup>So the man gave names to all the livestock, the birds in the sky
        and all the wild animals.
      </p>
      <p>
        But for Adam no suitable helper was found.<sup >
          21&nbsp;{' '}
        </sup>So the
        <span class="small-caps">Lord God</span>
        caused the man to fall into a deep sleep; and while he was sleeping, he
        took one of the man’s ribs and then closed up the place with flesh.<sup >
          22&nbsp;{' '}
        </sup>Then the
        <span class="small-caps">Lord God</span>
        made a woman from the rib he had taken out of the man, and he brought
        her to the man.
      </p>
      <p>
        <sup >23</sup>The man said,
      </p>
      <div class="myfriends-poetry top-05">
        <p>
          “This is now bone of my bones<br />&nbsp;&nbsp;&nbsp;&nbsp;and flesh
          of my flesh;<br />she shall be called ‘woman,’<br />&nbsp;&nbsp;&nbsp;&nbsp;for
          she was taken out of man.”
        </p>
      </div>
      <p>
        <sup >24</sup>That is why a man leaves his
        father and mother and is united to his wife, and they become one flesh.
      </p>
      <p>
        <sup >25</sup>Adam and his wife were both
        naked, and they felt no shame.
      </p>
      <br />
      <a
        class="readmore"
        href="https://biblegateway.com/passage/?search=Genesis%202:4-25&amp;version=NIV"
      >
        Read More
      </a>
      <br />
      <br />
    </div>
  </div>

  <div class="lesson">
    <img class="lesson-icon" src="/images/discover.png" />
    <div class="lesson-subtitle">DISCOVER</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="13">
      <li>What stands out for you in this passage?</li>
      <li>What do you like and what bothers you in this passage?</li>
      <li>What does this passage tell you about God and people?</li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/challenges.png" />
    <div class="lesson-subtitle">APPLY</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="16">
      <li>
        Ask God what He wants you to do in response to the passage. Is there:
        <ul>
          <li>A behaviour to change?</li>
          <li>A promise to claim?</li>
          <li>An example to follow?</li>
          <li>A command to obey?</li>
        </ul>
      </li>
      <li>Share this with the group</li>
    </ol>
  </div>
  <div id="background_note">
    <div class="lesson">
      <img class="lesson-icon" src="/images/background.png" />
      <div class="lesson-subtitle">Notes</div>
    </div>
    <div class="background-text">
      <p dir="ltr">
        The heavens, the earth, humans, animals, and plants did not come into
        being by chance. They were created by God. Humans had an important role
        since the beginning to look aft er each other and the world they lived
        in. Everything was a reflection of the goodness of God. Men and women
        were given the freedom to enjoy all of creation. They were even given
        the choice to obey or disobey God; to accept or reject His love. The
        trust between the two was so great that they were not ashamed of their
        nakedness and didn’t need to hide or protect themselves behind clothes.
      </p>
      <p dir="ltr">
        Strikingly, humans were given the option of disobeying God by eating
        from the tree of knowledge of good and evil. But God warned them that
        the punishment for doing so would be death. The existence of that tree
        clearly shows us that humans aren’t completely at the mercy of God’s
        will. Quite the opposite. Humankind had the freedom of choice. They were
        given the freedom of choice to accept or reject God’s love.
      </p>
    </div>
  </div>
</html>
